@import url("./animation.css");
@import url("./style.css");
@import url("./style-antd.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* screen */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;
}

@layer components {
  .flex_centerx {
    @apply flex
    justify-center
    !important;
  }
  .flex_centery {
    @apply flex
    items-center
    !important;
  }
  .flex_centerxy {
    @apply flex
    justify-center
    items-center
    !important;
  }
  .grid_centerx {
    @apply grid
    justify-items-center
    !important;
  }
  .grid_centery {
    @apply grid
    content-center
    !important;
  }
  .grid_centerxy {
    @apply grid
    justify-items-center
    content-center
    !important;
  }
  .hover_blur {
    @apply hover:backdrop-blur-sm
    hover:bg-transparent/10
    dark:hover:bg-white/10
    duration-500
    !important;
  }
  .drawer_navigation {
    @apply bg-white/40
    drop-shadow-lg
    backdrop-blur-sm
    backdrop-brightness-150
    dark:bg-transparent/40
    dark:backdrop-brightness-50
    !important;
  }
  .header_scroll {
    @apply bg-white/40
    backdrop-blur-sm
    backdrop-brightness-150
    dark:bg-slate-900/40
    dark:backdrop-brightness-50
    !important;
  }
  .footer_class {
    @apply bg-white
    backdrop-blur-md
    backdrop-brightness-150
    dark:bg-slate-900
    dark:backdrop-brightness-50
    !important;
  }
  .menu_item_title {
    @apply text-sm
    lg:text-base
    !important;
  }
  .section {
    @apply min-h-screen
    relative
    !important;
  }
  .section_container {
    @apply relative
    w-full
    px-4
    lg:w-11/12
    xl:w-10/12
    2xl:w-9/12
    !important;
  }
  .footer_container {
    @apply relative
    w-full
    lg:w-11/12
    xl:w-10/12
    2xl:w-9/12
    !important;
  }
  .text_regular {
    @apply text-gray-700
    dark:text-gray-300
    !important;
  }
  .text_title {
    @apply text-blue-600
    dark:text-blue-700
    !important;
  }
  .text_title_name {
    @apply text-white
    dark:text-gray-300
    !important;
  }
  .card_regular {
    @apply bg-white
    rounded-md
    drop-shadow-xl
    lg:rounded-xl
    dark:bg-slate-900
     !important;
  }
  .button_primary {
    @apply bg-opacity-10
    bg-blue-600
    text-blue-600
    ring-blue-600
    hover:bg-opacity-30
    hover:text-blue-700
    dark:hover:text-gray-300
    duration-500
    !important;
  }
}
