span.ant-menu-title-content {
  margin-inline-start: 20px !important;
  width: calc(100vw / 3);
  /* md */
  @media screen and (min-width: 768px) {
    margin-inline-start: 0px !important;
  }
}

div.ant-menu-item-icon {
  width: fit-content;
  margin-left: -2px !important;
}

ul.ant-menu.ant-menu-sub.ant-menu-vertical {
  background-color: rgb(255 255 255 / 0.4) !important;
  --tw-backdrop-blur: blur(4px) !important;
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
    var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
  --tw-backdrop-brightness: brightness(1.5) !important;
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
    var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
}

#App.dark ul.ant-menu.ant-menu-sub.ant-menu-vertical {
  background-color: rgb(15 23 42 / 0.4) !important;
  --tw-backdrop-brightness: brightness(0.5) !important;
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
    var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
}

/* for carousel dots */
.dots_class li {
  background-color: white !important;
}

.slick-dots li.slick-active button {
  background-color: rgb(37 99 235 / 1) !important;
}
