.bt_resume {
  min-width: 32px !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  border-radius: 50% !important;
  /* lg */
  @media screen and (min-width: 1024px) {
    padding: 8px 16px !important;
    border-radius: 999px !important;
  }
}

.bt_resume > span:nth-child(1) {
  margin-inline-end: 0px !important;
  /* lg */
  @media screen and (min-width: 1024px) {
    margin-inline-end: 3px !important;
  }
}

.bt_resume > span:nth-child(2) {
  display: none !important;
  /* lg */
  @media screen and (min-width: 1024px) {
    display: inline-block !important;
  }
}
